@{ @*ViewData["Title"] = localizer["colaboradors"];
        ViewData["Caption"] = localizer["Manage colaboradors here"];*@ }
@using WordVision.ec.Web.Areas.Registro.Models
@model FormularioViewModel
@*<div class="card">*@
<div id="viewAll" class="card-body card-body-card table-responsive">
    <p><a asp-page="/registro/formulario/formulariowizard/Index">Open the wizard</a></p>
</div>

@*</div>*@
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
    $(document).ready(function () {
            /*$("#colaboradorTable").DataTable();*/
           // loadData();
            //$('#reload').on('click', function () {
            //    loadData();
            //});
        });
        function loadData() {
            $('#viewAll').load('/Wizard');
        }</script>
}