@model IEnumerable<WordVision.ec.Web.Areas.Encuesta.Models.EProvinciaViewModel>

@{ ViewBag.Title = "Provincias";}


<div style="border:solid; border-width:1px; padding:5px;">
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta" style="color:#666666">Para mantener Nuestra Promesa</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta" style="color:#EC7D31">Establecer 3-5 objetivos de Desempeño para este año - CLARIDAD</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12 col-form-label texto-pregunta">Incluya tanto el QUÉ <font style="color:#2ED4E0">(Resultado)</font> como el CÓMO <font style="color:#2ED4E0">(mentalidades y comportamientos)</font> se lograrán los objetivos. Utiliza los hitos para considerar cómo vas a hacer un seguimiento del progreso a lo largo del año, al menos trimestralmente*.</label>
        </div>
    </div>
</div>

<br />


<div class="card">
    <div class="col-sm-12 card-button-padding">
        <a onclick="jQueryModalGet('/Encuesta/EProvincia/OnGetCreateOrEdit','Crear')" class="btn bg-success">
            <i class="fa fa-plus-square"></i> Crear
        </a>

        <a id="reload" onclick="loadData()" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Refrescar
        </a>
    </div>
</div>
        <div id="viewAll" class="card-body card-body-card table-responsive">
        </div>
     
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
                loadData();
        });
        function loadData() {
            $('#viewAll').load('/Encuesta/EProvincia/LoadAll');
        }
    </script>
}
