@{ @*ViewData["Title"] = localizer["colaboradors"];
        ViewData["Caption"] = localizer["Manage colaboradors here"];*@ }
@using WordVision.ec.Web.Areas.Registro.Models
@model FormularioViewModel
@*<div class="card">*@

@*<a id="pdf" class="btn btn-primary text-white">
    <i class="fa fas fa-bolt"></i>
    Pdf
</a>*@
<a asp-controller="formulario" asp-action="FormularioPdf" asp-route-id="@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value" target="_blank">Contactos en PDF</a>
<div id="viewAll" class="card-body card-body-card table-responsive">
</div>
@*</div>*@
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
    $(document).ready(function () {
            /*$("#colaboradorTable").DataTable();*/
            loadData();
            //$('#pdf').on('click', function () {
            //    loadDataPdf();
            //});
    });
        @*function loadDataPdf() {
            $('#viewAll').load('/registro/formulario/FormularioPdf/@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value');
        };*@
        function loadData() {
            $('#viewAll').load('/registro/formulario/LoadFormulario/@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value');
        }</script>
}