@model WordVision.ec.Web.Areas.Indicadores.Models.FaseProgramaAreaViewModel

<form id="create-form" asp-action="OnPostCreateOrEdit" method="post" asp-controller="FaseProgramaArea" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden="hidden" asp-for="Id"/>
    <div class = "row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label">Fecha Inicio</label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label">Fecha Fin</label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDisenio" class="control-label">Fecha Diseño</label>
                <input asp-for="FechaDisenio" class="form-control" />
                <span asp-validation-for="FechaDisenio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRedisenio" class="control-label">Fecha Rediseño</label>
                <input asp-for="FechaRedisenio" class="form-control" />
                <span asp-validation-for="FechaRedisenio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaTransicion" class="control-label">Fecha Transición</label>
                <input asp-for="FechaTransicion" class="form-control" />
                <span asp-validation-for="FechaTransicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dip1" class="control-label"></label>
                <input asp-for="Dip1" class="form-control" />
                <span asp-validation-for="Dip1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dip2" class="control-label"></label>
                <input asp-for="Dip2" class="form-control" />
                <span asp-validation-for="Dip2" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Dip3" class="control-label"></label>
                <input asp-for="Dip3" class="form-control" />
                <span asp-validation-for="Dip3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dip4" class="control-label"></label>
                <input asp-for="Dip4" class="form-control" />
                <span asp-validation-for="Dip4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dip5" class="control-label"></label>
                <input asp-for="Dip5" class="form-control" />
                <span asp-validation-for="Dip5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dip6" class="control-label"></label>
                <input asp-for="Dip6" class="form-control" />
                <span asp-validation-for="Dip6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProgramaArea" class="control-label">Programa Área</label>
                @Html.DropDownList("IdProgramaArea", (IEnumerable<SelectListItem>)Model.ProgramaAreaList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;" })
                <span asp-validation-for="IdProgramaArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFaseProyecto" class="control-label">Fase</label>
                @Html.DropDownList("IdFaseProyecto", (IEnumerable<SelectListItem>)Model.FaseProyectoList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;" })
                <span asp-validation-for="IdFaseProyecto" class="text-danger"></span>
            </div>
            @if (Model.Id != 0)
            {
                <div class="form-group">
                        <label asp-for="IdEstado" class="control-label">Estado</label>
                    @Html.DropDownList("IdEstado", (IEnumerable<SelectListItem>)Model.EstadoList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;" })
                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                </div>
            }
        </div>
    </div>          
            
    <br />
    <div class="form-group justify-content-between group-button-modal">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
