@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid" >
    @*<div>
      
        <img src="~/images/estrategia-marca-de-agua.jpg"   />
    </div>
    <br />*@
    <h2 class="text-center display-4">Hola! Bienvenido al Sistema Integral de Wordl Vision</h2>
   
</div>