@using WordVision.ec.Infrastructure.Data.Identity.Models;
@using WordVision.ec.Web.Areas.Soporte.Models
@model SolicitudViewModel
@inject UserManager<ApplicationUser> UserManager

    <div class="card">
        <div id="viewAll" class="card-body table-responsive">
        </div>
    </div>


    @section Scripts
{
        <script src="~/js/site.js"></script>
        <script>
            $(document).ready(function () {
                loadData();
            });
            function loadData() {
                /**/
                $('#viewAll').load('/Valoracion/Objetivo/LoadAll?idAnioFiscal=1002&idColaborador=@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value');
            /**/
        }</script>
    }