<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                Estimados colegas de Gente y Cultura,
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                Yo {0}, adjunto el formulario en el cual informo si acumulo o no el décimo tercero y décimo cuarto sueldos que está adjunto en el formulario PDF adjunto.
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                Saludos cordiales,
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {1}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {2}
            </div>
        </div>
    </div>
</body>
</html>