<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WordlVision</title>
</head>
<body>

    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                Estimados colegas de Gente y Cultura,
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                Yo {0} , confirmo haber realizado la revisión, actualización y aceptación de los documentos clave que se enumeran a continuación:

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                1.- Formulario de Datos Personales
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                2.- Carta Rol de Pagos
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                3.- Solicitud de acumulación de décimo tercero y décimo cuarto
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                4.- Plan Seguro Privado Salud y Vida
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                Saludos cordiales,
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {1}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {2}
            </div>
        </div>
    </div>

   
</body>
</html>