<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WordlVision</title>
</head>
<body>

    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                Estimados colegas de Gente y Cultura,
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                Yo {0} , confirmo haber realizado la revisión, actualización y aceptación de las Politicas Internas que se enumeran a continuación:

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                1.- Misión Visión y Valores Centrales
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                2.- Declaración de Antecedentes
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                3.- Política de Conflicto de Interés
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                4.- Código de Conducta Contextualizado
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                5.- Política de Salvaguardia de Niños, Niñas, Adolescentes y Adultos
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                6.- Política Anticorrupción
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                7- Política Prevención de Acoso
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                8.- Política LDR
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                9.- Política BPS
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                10.- Política de Manejo de la Diversidad
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                11.- Reglamento Interno de Trabajo
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                12.- Reglamento Interno de Higiene y Seguridad en el Trabajo
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                13.- Política de Igualdad de Género
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                14.- Plan de Manejo de Incidentes y Salvaguardia
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                Saludos cordiales,
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {1}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {2}
            </div>
        </div>
    </div>

   
</body>
</html>