@using WordVision.ec.Web.Areas.Planificacion.Models
@model IEnumerable<PerfilDesempenioViewModel>


<table id="productoTablep" class="table table-striped " width="100%" cellspacing="0">
            <thead>
                <tr>

                   
                    <th data-priority="1">Resposanbilidad</th>
                    <th data-priority="1">Resultado/Indicador</th>
                    <th data-priority="1">Meta Anual</th>
                    <th data-priority="2" class="acciones-th">Acciones</th>

                </tr>
            </thead>
            <tbody>
               
                @foreach (var producto in Model)
                {
                <tr>
                    <td>
                        @producto.ResponsabilidadCargo
                    </td>
                    <td>
                        @producto.Indicador
                    </td>
                    <td>
                        @producto.MetaAnual
                    </td>
                   
                    <td class="acciones-td">
                       
                        <button type="button" class="btn btn-warning  btn-xp" title="Editar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Perfil/OnGetCreateOrEditPerfil?id=1&idNivel=@producto.Id','Perfil')">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                                </td>


                </tr>
                }
                
            </tbody>
        </table>

<script>

    $(document).ready(function () {
        var table = $("#productoTablep").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            }
        });

        
    });
</script>
