    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>WordlVision</title>
    </head>
    <body>

        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    Estimados colegas,
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    Se ha creado un nuevo donante, por favor su apoyo realizando la validación de la información que se adjunta a continuación:
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    Fecha: {0}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    Nombre del donante: {1}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    Correo electrónico: {2}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    Teléfono: {3}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    Responsable de la creación: {4}
                </div>
            </div>
            <br /> <br />
            <div class="row">
                <div class="col-md-12">
                    Saludos cordiales,
                </div>
            </div>

        </div>


    </body>
    </html>