    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>WordlVision</title>
    </head>
    <body>

        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    Estimados colegas,
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    Acorde a la solicitud se realizaron los siguientes cambios en el donante <b>{1}</b>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                  Comentario:  {5}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    Fecha de envío: {6}
                </div>
            </div>
            
            <br /> <br />
            <div class="row">
                <div class="col-md-12">
                    Saludos cordiales,
                </div>
            </div>

        </div>


    </body>
    </html>