<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WordlVision</title>
</head>
<body>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                Estimados colegas,
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                Se les informa que se devolvió la valoración de desempeño del Año Fiscal {0} del colaborador {1}, para la revisión de los detalles por favor ingresar en el Sistema Integral WVE, en la opción de Gente y Cultura y Valoración Desempeño y mire las observaciones que se coloco en cada uno de sus objetivos.
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                Saludos cordiales,
            </div>
        </div>
    </div>
</body>
</html>