<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WordlVision</title>
</head>
<body>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                Estimado {0},
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                Se le informa que el colaborador {1} ha realizado el ingreso de su Valoración de Desempeño, para la revisión de los detalles por favor ingresar en el Sistema Integral WVE, en la opción de Gente y Cultura y Valoración Desempeño.
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                Saludos cordiales,
            </div>
        </div>
    </div>
</body>
</html>