@using WordVision.ec.Web.Areas.Planificacion.Models
@model IEnumerable<AcuerdoViewModel>


<table id="productoTable" class="table table-striped " width="100%" cellspacing="0">
            <thead>
                <tr>

                   
                    <th data-priority="1">Tipo</th>
                    <th data-priority="1">Descripción</th>
                    <th data-priority="1">Contribución</th>
                    <th data-priority="1">Meta Anuales/Gestiones</th>
                    

                </tr>
            </thead>
            <tbody>
               
                @foreach (var producto in Model)
                {
                <tr>

                    <td>
                        @producto.Tipo
                    </td>
                    <td>
                        @producto.Descripcion
                    </td>
                    <td>
                        @producto.Contribucion
                    </td>
                    <td>
                        @producto.Meta
                    </td>
                  


                </tr>
                }
                
            </tbody>
        </table>
<div class="row">
    <div class="col-md-12">
      
        <div class="form-group row">
            <div class="col-md-12">
                <label class="col-md-12 col-form-label texto-pregunta">Competencia</label>

                <select name="Competencia" class="form-control">
                    <option value="1">Desarrollar la organización para el futuro Isaías 41:10</option>
                    <option value="2">Ejecutar una organización eficaz y ágil 1 Corintios 15:58</option>
                    <option value="3">Involucrar, Influir, Liderar y ayudar el crecimiento de otros Filipenses 2:3-4</option>
                    <option value="4">Modelo de autogestión  Filipenses 4:8</option>
                </select>
               
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label class="col-md-12 col-form-label texto-pregunta">Comportamiento</label>

                <select  name="Comportamiento" class="form-control">
                    <option value="1">Vivo mi fe cristiana al liderar con humildad, siendo valiente en acción y comunicándome con honestidad y respeto.</option>
                    <option value="2">Activamente busco retroalimentación abierta y sincera para discernir y actuar bajo la verdad</option>
                    <option value="3">Hábilmente manejo las múltiples demandas y establezco prioridades para alcanzar los resultados importantes</option>
                    <option value="4">Adapto el comportamiento y estilo para interactuar y asociarme efectivamente con otros, incluyendo aquellos con diferentes culturas, fe y tradiciones cristianas</option>
                    <option value="5">Modelo estrategias de afrontamiento efectiva para asegurar y sostener mi propio bienestar</option>
                    <option value="6">Encaro con confianza la incertidumbre e inteligentemente busco otros caminos cuando el cambio así lo requiere</option>
                </select>
               
            </div>
        </div>
       


    </div>
</div>
<script>

    $(document).ready(function () {
        var table = $("#productoTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "/lib/datatables/language/Spanish.json"
            }
        });

      

     

    });
</script>
