
@using WordVision.ec.Web.Areas.Planificacion.Models
@model PerfilDesempenioViewModel


<div class="card card-info">

    <div class="card-header card-header-int">
       Acuerdo de Desempeño
        @*<div class="pull-right">
                <a class="btn btn-primary" id="btnViewModel" href="/Institucions/Create">
                    <i class="fa fa-plus-square"></i>
                    Agregar
                </a>

            </div>*@
    </div>

    <div class="col-sm-12" style="padding:20px">
        <form id="create-form" method="post" asp-controller="EstrategiaNacional" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">1. Responsabilidades  </a>
                                <a class="nav-item nav-link" id="nav-valoracion-tab" data-toggle="tab" href="#nav-valoracion" role="tab" aria-controls="nav-contact" aria-selected="false">2. Valoración de Desempeño</a>
                                <a class="nav-item nav-link" id="nav-aprendizaje-tab" data-toggle="tab" href="#nav-aprendizaje" role="tab" aria-controls="nav-contact" aria-selected="false">3. Aprendizaje y Desarrollo Personal</a>
                                <a class="nav-item nav-link" id="nav-seguimiento-tab" data-toggle="tab" href="#nav-seguimiento" role="tab" aria-controls="nav-profile" aria-selected="false">4. Seguimiento</a>

                                @*<a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Gestión</a>*@

                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                @*PERFIL*@
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    Cuáles de las responsabilidades de su cargo, en este AF va a agregar valor y por los que se le medirá el desempeño
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-2">

                                                    <button type="button" class="btn btn-primary" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/Perfil/OnGetCreateOrEditPerfil?id=1&idNivel=0','Perfil')">
                                                        <i class="fa fa-plus-square"></i>
                                                        Agregar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="viewAllPerfil" class="card-body table-responsive" style="padding: 0;">
                                    </div>

                                </div>
                            </div>


                            <div class="tab-pane fade" id="nav-valoracion" role="tabpanel" aria-labelledby="nav-valoracion-tab">
                                @*VALORACION DE DESEMPEÑO*@
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    Cuáles de los Objetivos Estratégicos, Productos, Actividades y responsabilidades en este AF va a agregar valor y por los que se le medirá el desempeño
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="viewAllValoracion" class="card-body table-responsive" style="padding: 0;">
                                    </div>
                                </div>
                            </div>




                            <div class="tab-pane fade" id="nav-aprendizaje" role="tabpanel" aria-labelledby="nav-aprendizaje-tab">
                                @*APRENDIZAJE*@

                                <div class="container-fluid">
                                    <div id="viewAllAprendizaje" class="card-body table-responsive" style="padding: 0;">
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-seguimiento" role="tabpanel" aria-labelledby="nav-seguimiento-tab">
                                @*SEGUIMMIENTO*@
                                <div class="container-fluid">
                                    <div id="viewAllSeguimiento" class="card-body table-responsive" style="padding: 0;">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-seguimiento" role="tabpanel" aria-labelledby="nav-seguimiento-tab">
                                @*SEGUIMMIENTO*@
                                <div class="container-fluid">
                                    <div id="viewAllSeguimiento" class="card-body table-responsive" style="padding: 0;">
                                    </div>
                                </div>
                            </div>
                        </div>

                                    </div>
                                </div>
            </div>

                <br />
                <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    @*<button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>*@
                </div>
          
        </form>

    </div>
</div>



@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
    $(document).ready(function () {
            loadData();
    });
        function loadData() {
            $('#viewAllPerfil').load('/planificacion/Perfil/LoadAll');
            $('#viewAllValoracion').load('/planificacion/AcuerdoDesempenio/LoadAll');
            $('#viewAllAprendizaje').load('/planificacion/DesarrolloPersonal/Index');
            $('#viewAllSeguimiento').load('/planificacion/Seguimiento/LoadAll');
        }</script>
}