@model WordVision.ec.Web.Areas.Valoracion.Pages.Objetivo.Wizard.Objetivo_3Step
<input type="hidden" asp-for="IdObjetivo" name="IdObjetivo"  class="form-control">
           <input type="hidden" asp-for="NumeroObjetivo" name="NumeroObjetivo"  class="form-control">
           <input type="hidden" asp-for="AnioFiscal" name="AnioFiscal"  class="form-control">
           <input type="hidden" asp-for="PonderacionObjetivo" name="PonderacionObjetivo"  class="form-control">
           <input type="hidden" asp-for="Objetivo" name="Objetivo"  class="form-control">
           <input type="hidden" asp-for="IdObjetivoAnioFiscal" name="IdObjetivoAnioFiscal"  class="form-control">
           <input type="hidden" asp-for="DescObjetivo" name="DescObjetivo"  class="form-control">
<div class="container-fluid">

    <div class="texto-seccionpregunta">
      @*<div  style="background-color:#EC7D31; height: 78px;color:beige; padding: 5px 5px 5px 5px;">*@
                <label class="col-md-12 col-form-label texto-pregunta"><font style="font-weight: bold;">Descripción de objetivo</font> @Model.NumeroObjetivo: @Model.Objetivo </label>
                <label class="col-md-12 col-form-label texto-pregunta">@Model.DescObjetivo</label>
                  
               
       @* </div> *@
    </div>

    @{ var num = "0";
        if (Model.PlanificacionResultados != null)
        {
            num = Model.PlanificacionResultados.Count().ToString();
        }
     }

   
     <button type="button" class="btn btn-primary" id="btnViewModel" onclick="jQueryModalGet('/Valoracion/Objetivo/OnGetCreateOrEdit?id=0&idColaborador=@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value&idObjetivo=@Model.IdObjetivo&idObjetivoAnioFiscal=@Model.IdObjetivoAnioFiscal&idResultado=0&anioFiscal=@Model.AnioFiscal&objNumero=@Model.NumeroObjetivo&tipoObjetivo=2&ponderacionObjetivo=@Model.PonderacionObjetivo.ToString().Replace(",",".")','Objetivos 3')">
                        <i class="fa fa-plus-square"></i>
                            Agregar Responsabilidad
     </button> <label class="col-md-12 col-form-label texto-pregunta" style="font-size: 13px !important;">* Debe ingresar 2 Resposabilidades obligatoriamente. Puede ingresar una manualmente.</label>
   
    <div id="viewAll" class="card-body card-body-card table-responsive">
        
    </div>
  

</div>
<script>
 $(document).ready(function () {
            loadData();
    });
        function loadData() {
            $('#viewAll').load('/valoracion/objetivo/LoadObjetivoResultado?id=@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value.ToString()&idObjetivo=@Model.IdObjetivo&idObjetivoAnioFiscal=@Model.IdObjetivoAnioFiscal&anioFiscal=@Model.AnioFiscal&objNumero=@Model.NumeroObjetivo&entidad=@Model.PlanificacionResultados&ponderacion=@Model.PonderacionObjetivo.ToString().Replace(",",".")');
        }

   
</script>
