<label for="IdProyectoTecnico" class="control-label">Proyecto Tecnico</label>
@Html.DropDownList("IdProyectoTecnico",ViewBag.ProyectosTecnicosSelect,"Seleccionar Proyecto Tecnico",htmlAttributes: new { @class = "form-control ", @style = "width:100%;" })
<span for="IdProyectoTecnico" class="text-danger"></span>
