@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using WordVision.ec.Web.Areas.Planificacion.Models
@model EstrategiaNacionalViewModel
@{ ViewData["Title"] = localizer["Ciclo Estrategico"].Value + " " + ViewBag.Ciclo;
    ViewData["TmpGestion"] = localizer["Está en la Gestión:"].Value ;
    ViewData["Gestion"] = ViewBag.Gestion;
    // ViewBag.GestionList = ViewBag.GestionList;
    }
<div class="card card-info">

    <div class="card-header card-header-int">
        Ciclo Estratégico

    </div>

    <div class="col-sm-12" style="padding:20px">
        <form id="create-form" method="post" asp-controller="EstrategiaNacional" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Ciclo</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Objetivo de Bloque</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Objetivo Nacional</a>
                              
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                @*CICLO ESTRATEGICO*@
                                <div class="container-fluid">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <label class="col-md-12 col-form-label texto-pregunta">Ciclo Estrategico</label>

                                                    <input type="text" asp-for="Nombre" name="Nombre" readonly class="form-control">
                                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                       

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <label class="col-md-12 col-form-label texto-pregunta">Meta Nacional</label>

                                                    <textarea asp-for="MetaNacional" name="MetaNacional" readonly  class="form-control"></textarea>
                                                    <span asp-validation-for="MetaNacional" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <label class="col-md-12 col-form-label texto-pregunta">Meta de Bloque</label>

                                                    <textarea asp-for="MetaRegional" name="MetaRegional" readonly class="form-control"></textarea>
                                                    <span asp-validation-for="MetaRegional" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">

                                                <div class="col-md-6">
                                                    <label class="col-md-12 col-form-label texto-pregunta">Estado</label>

                                                    @*<select asp-for="Estado" name="Estado" class="form-control">
            <option value="1">Abierto</option>
            <option value="2">Cerrado</option>
            <option value="3">Finalizado</option>
        </select>*@
                                                    @*@Html.DropDownListFor(x => x.Estado, (IEnumerable<SelectListItem>)ViewData["EstadoList"], new { @class = "form-control" })*@
                                                    @Html.DropDownListFor(x=>x.Estado,  (IEnumerable<SelectListItem>)ViewBag.EstadoList,new { @class = "form-control" })
                                                    <span asp-validation-for="Estado" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>


                            
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                @*OBJETIVO BLOQUE*@
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-primary" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/ObjetivoEstrategico/OnGetCreateOrEdit?id=0&idEstrategia=@Model.Id&categoria=2','Crear Objetivos Resultados')">
                                                        <i class="fa fa-plus-square"></i>
                                                        Agregar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.Id, new { name = "IdEstrategia", @Value = Model.Id })
                                @*<div id="divObjetivo">*@
                                    <div id="viewAll" class="card-body table-responsive" style="padding: 0;">
                                    </div>
                                @*</div>*@
                                </div>
                            </div>




                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                @*OBJETIVO NACIONAL*@
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-primary" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/ObjetivoEstrategico/OnGetCreateOrEdit?id=0&idEstrategia=@Model.Id&categoria=1','Crear Objetivos Resultados')">
                                                        <i class="fa fa-plus-square"></i>
                                                        Agregar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @Html.HiddenFor(x => x.Id, new { name = "IdEstrategia", @Value = Model.Id })
                                    @*<div id="divObjetivo">*@

                                        <div id="viewAllNacional" class="card-body table-responsive" style="padding: 0;">
                                        </div>
                                    @*</div>*@
                                </div>
                            </div>

                           
                        </div>

                    </div>
                </div>
            </div>


            <br />
            <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancelar</button>
            </div>
        </form>

    </div>
</div>

<script type="text/javascript" language=javascript>

    $(document).ready(function () {
        loadData();
    });
        function loadData() {
            $('#viewAll').load('/Planificacion/ObjetivoEstrategico/LoadObjetivo?idEstrategia=@Model.Id&idCategoria=2');
            $('#viewAllNacional').load('/Planificacion/ObjetivoEstrategico/LoadObjetivo?idEstrategia=@Model.Id&idCategoria=1');
         }



    //$.validator.unobtrusive.parse(document);
    //$(function () {
    //    $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
    //    //$("#VigDesde").datepicker({ dateFormat: 'dd-mm-yy' });
    //    //$("#VigHasta").datepicker({ dateFormat: 'dd-mm-yy' });

    //});

    //$("#BrandId").select2({
    //    placeholder: "Select a Category",
    //    theme: "bootstrap4",
    //    escapeMarkup: function (m) {
    //        return m;
    //    }
    //});


</script>
