@using WordVision.ec.Web.Areas.Valoracion.Models
@model IEnumerable<PlanificacionResultadoViewModel>
<table id="colaboradorTable" class="table table-striped " width="100%" height="100%" cellspacing="0">
    <thead>
        <tr>

            <th data-priority="1">Colaborador</th>
            <th>Estado</th>
            <th data-priority="2">Ver Valoración</th>
           
        </tr>
    </thead>
    <tbody>

        @foreach (var colaborador in Model)
        {
        <tr>

            <td>
                @colaborador.NombreColaborador
            </td>
            <td>
                @colaborador.DescEstado
            </td>
           
            <td>
                <a type="button" asp-area="Valoracion" asp-page="/Objetivo/Wizard/Index" asp-route-id="@colaborador.IdColaborador" asp-route-perfil="1" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
            </td>
          

        </tr>
        }
    </tbody>
</table>
<script>
   
    $(document).ready(function () {
        var table=  $("#colaboradorTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "../lib/datatables/language/Spanish.json"
            },
            
            scrollY: '50vh',
            scrollCollapse: true,
            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 }
            ],
            "info": false
            //columnDefs: [
            //    { responsivePriority: 1, targets: 0 },
            //    { responsivePriority: 10001, targets: 4 },
            //    { responsivePriority: 2, targets: -2 }
            //]
        });

     

    });
</script>
