@using WordVision.ec.Web.Areas.Planificacion.Models
@model IEnumerable<FactorCriticoExitoViewModel>

<table id="anioFiscalTable" class="table table-striped " width="100%" cellspacing="0">
    <thead>
        <tr>

            <th data-priority="1">Nombre</th>
            <th data-priority="2" class="acciones-th">Indicador</th>
            <th data-priority="2" class="acciones-th">Acciones</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var anioFiscal in Model)
        {
            <tr>

                <td>
                    @anioFiscal.FactorCritico
                </td>
                <td class="acciones-td">
                    @* <a  asp-area="planificacion" asp-controller="EstrategiaNacional" asp-action="OnGetCreateOrEdit" asp-route-id="@anioFiscal.Id" class="btn btn-info btn-xp"><i class="fas fa-pencil-alt"></i>  Editar</a>*@
                    <button type="button" class="btn btn-success  btn-xp" data-toggle="tooltip" data-placement="top" title="Ver"  btn-xp" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/IndicadorEstrategico/LoadIndicadores?idFactor=@anioFiscal.Id','Indicador de Resultados')">
                        <i class="fas fa-eye"></i>
                    </button>
                  
                    <button type="button" class="btn btn-primary  btn-xp" title="Agregar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/IndicadorEstrategico/OnGetCreateOrEdit?id=0&IdFactorCritico=@anioFiscal.Id','Indicador de Resultados')">
                        <i class="fas fa-plus-square"></i>
                    </button>
                </td>

                <td  class="acciones-td">
                    @* <a  asp-area="planificacion" asp-controller="EstrategiaNacional" asp-action="OnGetCreateOrEdit" asp-route-id="@anioFiscal.Id" class="btn btn-info btn-xp"><i class="fas fa-pencil-alt"></i>  Editar</a>*@
                    <button type="button" class="btn btn-warning btn-sm" title="Editar" id="btnViewModel" onclick="jQueryModalGet('/Planificacion/FactorCriticoExito/OnGetCreateOrEdit?id=@anioFiscal.Id&idObjetivoEstra=@anioFiscal.IdObjetivoEstra','Factor Critico de Exito')">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </td>


            </tr>
        }
    </tbody>
</table>
<script>

    $(document).ready(function () {
        var table = $("#colaboradorTable").DataTable({
            aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [2], "asSorting": ["asc"], "bSortable": true },
            ],
            "language": {
                "url": "../lib/datatables/language/Spanish.json"
            },

            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 }
            ],
            "info": false
            //columnDefs: [
            //    { responsivePriority: 1, targets: 0 },
            //    { responsivePriority: 10001, targets: 4 },
            //    { responsivePriority: 2, targets: -2 }
            //]
        });



    });
</script>
