@{ @*ViewData["Title"] = localizer["colaboradors"];
        ViewData["Caption"] = localizer["Manage colaboradors here"];*@ }
@using WordVision.ec.Web.Areas.Presupuesto.Models
@model DatosLDRViewModel
@*<div class="card">*@

<div id="viewAll" class="card-body card-body-card table-responsive">
</div>
@*</div>*@
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
    $(document).ready(function () {
            /*$("#colaboradorTable").DataTable();*/
           loadData();
            //$('#reload').on('click', function () {
            //    loadData();
            //});
        });
        function loadData() {
            $('#viewAll').load('/presupuesto/datosldr/LoadDatosLDR/1');
         }</script>
}