@using WordVision.ec.Web.Areas.Registro.Pages.Formulario.Wizard
@model ContactosStep

<div class="container-fluid">

    <div class="texto-seccionpregunta">
        6. CONTACTOS DE EMERGENCIA ( Ingreso mínimo de 2 contactos de emergencia)
    </div>

    @{ var num = "0";
        if (Model.FormularioTerceros != null)
        {
            num = Model.FormularioTerceros.Where(x => x.Tipo == "C").ToList().Count().ToString();
        } }

   
    <a onclick="jQueryModalGet('/registro/formulario/OnGetCreateOrEdit?id=0&idFormulario=@Model.Id&IdColaborador=@Model.IdColaborador&Tipo=C','Crea Contacto')" class="btn bg-success">
        <i class="fa fa-plus-square"></i> Agregar Contacto
    </a>
    <br />
    <br /> <br />
    <div id="viewAll" class="card-body card-body-card table-responsive">
        
    </div>

</div>
<script>
     $(document).ready(function () {
            loadData();
    });
        function loadData() {
            $('#viewAll').load('/registro/formulario/LoadTercero?Tipo=C&id=@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value.ToString()');
        }

    function EliminaFila(id) {

        $("#" + id).remove();

        var IdiomaViewModel = {
            id: id
        };
         $.ajax({
            type: "post",
            url:'@Url.Action("OnPostDelete", "formulario", new { area = "Registro" })',
             data: IdiomaViewModel,
            datatype: "json",
            cache: false,
            success: function (data) {
            /*  alert('Validooo');*/

            },
            error: function(xhr) {
               // alert('No Valid Data');
            }
        });
    }
</script>
