
@using WordVision.ec.Web.Areas.Registro.Pages.Formulario.Wizard
@model DependientesInformacionStep

@Html.HiddenFor(x => x.Id, new { name = "Id", @Value = Model.Id })
@Html.HiddenFor(x => x.IdColaborador, new { name = "IdColaborador", @Value = Model.IdColaborador })


<div class="container-fluid">
    <div class="texto-seccionpregunta">
        4. INFORMACIÓN DE DEPENDIENTES
    </div>
    <a onclick="jQueryModalGet('/registro/formulario/OnGetCreateOrEdit?id=0&idFormulario=@Model.Id&IdColaborador=@Model.IdColaborador&Tipo=D','Crea Dependiente')" class="btn bg-success">
        <i class="fa fa-plus-square"></i> Agregar Dependiente
    </a>
    <br />
    <br /> <br />

    <div id="viewAllD" class="card-body card-body-card table-responsive">

    </div>



</div>
<script>
     $(document).ready(function () {
            loadData();
    });
        function loadData() {
            $('#viewAllD').load('/registro/formulario/LoadTercero?id=@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value.ToString()&Tipo=D');
        }

    $("#close-button").click(function () {
       /* alert("Handler for .click() called.");*/
    });
    function EliminaFila(id) {

        $("#" + id).remove();

        var IdiomaViewModel = {
            id: id
        };
         $.ajax({
            type: "post",
            url:'@Url.Action("OnPostDelete", "formulario", new { area = "Registro" })',
             data: IdiomaViewModel,
            datatype: "json",
            cache: false,
            success: function (data) {
            /*  alert('Validooo');*/

            },
            error: function(xhr) {
               // alert('No Valid Data');
            }
        });
    }
</script>
