@using WordVision.ec.Web.Areas.Registro.Pages.Formulario.Wizard
@model InformacionAdicionalStep

<div class="container-fluid">

    <div class="texto-seccionpregunta">
        7. INFORMACIÓN ADICIONAL
    </div>

    <div id="viewAll" class="card-body card-body-card table-responsive">

    </div>

    <br />

    <div class="form-group row">
        <label class="col-md-2 col-form-label texto-pregunta">Creencia Religiosa</label>
        <div class="col-md-2">
            <input type="text" asp-for="CreenciaReligiosa" name="CreenciaReligiosa" class="form-control">
            <span asp-validation-for="CreenciaReligiosa" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Iglesia en especial</label>
        <div class="col-md-3">
            <input type="text" asp-for="Iglesia" name="Iglesia" class="form-control">
            <span asp-validation-for="Iglesia" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group row">
        <label class="col-md-6 col-form-label texto-pregunta">Auto identificación Étnica (Indígena, Mestizo, Afro, etc.)</label>
        <div class="col-md-6">
            <input type="text" asp-for="Etnia" name="Etnia" class="form-control">
            <span asp-validation-for="Etnia" class="text-danger"></span>
        </div>


    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label texto-pregunta">Tiene Discapacidad</label>
        <div class="col-md-2">
            <select asp-for="DiscapacidadSN" name="DiscapacidadSN" class="form-control">
                <option selected></option>
                <option value="S">SI</option>
                <option value="N">NO</option>
            </select>
            <span asp-validation-for="DiscapacidadSN" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Tipo de Discapacidad</label>
        <div class="col-md-2">
            <input type="text" asp-for="TipoDiscapacidad" name="TipoDiscapacidad" class="form-control">
            <span asp-validation-for="TipoDiscapacidad" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Porcentaje</label>
        <div class="col-md-2">
            <input type="number" asp-for="PorcentajeDiscapacidad" name="PorcentajeDiscapacidad" class="form-control">
            <span asp-validation-for="PorcentajeDiscapacidad" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" id="discapacidad">
        <div class="custom-file form-image">
            <input accept=".pdf"
                   asp-for="@Model.ImageDiscapacidad"
                   type="file" class="custom-file-input"
                   onchange="document.getElementById('viewableImageDiscapacidad').src = window.URL.createObjectURL(this.files[0])"
                   id="customFile" >

            @if (Model.ImageDiscapacidad != null && Model.ImageDiscapacidad.Length > 0)
            {
                <label class="custom-file-label"  style="background-color: green; color: white" for="customFile">Carnet discapacidad Almacenado</label>
            }
            else
            {
                <label class="custom-file-label"  for="customFile">Buscar Carnet discapacidad</label>
            }
        </div>

    </div>
    <br />
    <div class="form-group row">
        <label class="col-md-2 col-form-label texto-pregunta">Familiar Discapacidad</label>
        <div class="col-md-2">
            <select asp-for="FamiliaDiscapacidadSN" name="FamiliaDiscapacidadSN" class="form-control">
                <option selected></option>
                <option value="S">SI</option>
                <option value="N">NO</option>
            </select>
            <span asp-validation-for="FamiliaDiscapacidadSN" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Tipo de Discapacidad</label>
        <div class="col-md-2">
            <input type="text" asp-for="FamiliaTipoDiscapacidad" name="FamiliaTipoDiscapacidad" class="form-control">

            <span asp-validation-for="FamiliaTipoDiscapacidad" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Porcentaje</label>
        <div class="col-md-2">
            <input type="number" asp-for="FamiliaPorcentajeDiscapacidad" name="FamiliaPorcentajeDiscapacidad" class="form-control">
            <span asp-validation-for="FamiliaPorcentajeDiscapacidad" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label texto-pregunta">Discapacidad</label>
        <div class="col-md-4">
            <input type="text" asp-for="FamiliaDiscapacidad" name="FamiliaDiscapacidad" class="form-control">
            <span asp-validation-for="FamiliaDiscapacidad" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Parentesco</label>
        <div class="col-md-4">
            <input type="text" asp-for="FamiliaDiscapacidadRelacion" name="FamiliaDiscapacidadRelacion" class="form-control">
            <span asp-validation-for="FamiliaDiscapacidadRelacion" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group row" id="discapacidadF">
        <div class="custom-file form-image">
            <input accept=".pdf"
                   asp-for="ImageDiscapacidadFamiliar"
                   name="ImageDiscapacidadFamiliar"
                   type="file" class="custom-file-input"
                   onchange="document.getElementById('viewableImageDiscapacidadF').src = window.URL.createObjectURL(this.files[0])"
                   id="customFile" >

            @if (Model.ImageDiscapacidadFamiliar != null && Model.ImageDiscapacidadFamiliar.Length > 0)
            {
                <label class="custom-file-label" style="background-color: green; color: white" for="customFile">Carnet discapacidad Almacenado</label>
            }
            else
            {
                <label class="custom-file-label"  for="customFile">Buscar Carnet discapacidad</label>
            }
        </div>

    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <label>Adjuntar Documentos</label>
            <hr />
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <label>Cédula del Colaborador</label>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-file form-image">
                    <input accept=".pdf"
                           asp-for="@Model.ImageCedula"
                           type="file" class="custom-file-input"
                           id="customFile">

                    @if (Model.ImageCedula != null && Model.ImageCedula.Length > 0)
                    {
                        <label class="custom-file-label" style="background-color: green; color: white" for="customFile">Cédula almacenada</label>
                    }
                    else
                    {
                        <label class="custom-file-label"  for="customFile">Buscar Cédula</label>
                    }
                </div>
            
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <label>Papeleta de Votación</label>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-file form-image">
                    <input accept=".pdf"
                           asp-for="ImagePapeleta"
                           name="ImagePapeleta"
                           type="file" class="custom-file-input"
                           id="customFile">

                    @if (Model.ImagePapeleta != null && Model.ImagePapeleta.Length > 0)
                    {
                        <label class="custom-file-label" style="background-color: green; color: white" for="customFile">Papeleta de votación almacenada</label>
                    }
                    else
                    {
                        <label class="custom-file-label" for="customFile">Buscar Papeleta de votación</label>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <label>Carnet de Covid</label>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-file form-image">
                    <input accept=".pdf"
                           asp-for="ImageCovid"
                           name="ImageCovid"
                           type="file" class="custom-file-input"
                           id="customFile">

                    @if (Model.ImageCovid != null && Model.ImageCovid.Length > 0)
                    {
                        <label class="custom-file-label" style="background-color:green; color:white" for="customFile">Carnet Covid almacenado</label>
                    }
                    else
                    {
                        <label class="custom-file-label" for="customFile">Buscar Carnet COVID</label>
                    }
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>

    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <label>Firma del Colaborador</label>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                @if (Model.Image != null)
                {
                    <img id="imagen" style="width: 50%;object-fit: cover;padding-bottom: 10px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.Image))">
                }
                else
                {
                    <img id="imagen" style="width: 50%;object-fit: cover;padding-bottom: 10px;" src="">
                }
                <div class="custom-file ">
                    <input accept=".png,.jpg,.jpeg,.gif,.tif"
                           asp-for="Image"
                           type="file" class="custom-file-input"
                           onchange="document.getElementById('imagen').src = window.URL.createObjectURL(this.files[0])"
                           id="customFile">
                    <label class="custom-file-label" for="customFile">Buscar Firma</label>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        </div>
        <br />
        @*<div class="row">
            <div class="col-md-12">
                <input type="hidden" asp-for="Colaborador" name="Colaborador" class="form-control">
                <label class="col-md-12" asp-for="Colaborador"><span class="texto-simple">@Model.Colaborador</span></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" asp-for="Identificacion" name="Identificacion" class="form-control">
                <label class="col-md-12" asp-for="Identificacion"><span class="texto-simple">@Model.Identificacion</span></label>
            </div>
        </div>
        <br />*@

    </div>
        <script>
            $(document).ready(function () {
                $("#discapacidad").hide();
                $("#discapacidadF").hide();

                $("#DiscapacidadSN").change(function () {
                    var selectedSubject = $("#DiscapacidadSN option:selected").val();
                    //alert("You have selected the country - " + selectedSubject);
                    //alert(selectedSubject.indexOf("575"));

                    if (selectedSubject.indexOf("S") >= 0)
                        $("#discapacidad").show(1000);
                    else
                        $("#discapacidad").hide(1000);
                });

                $("#FamiliaDiscapacidadSN").change(function () {
                    var selectedSubject = $("#FamiliaDiscapacidadSN option:selected").val();
                    //alert("You have selected the country - " + selectedSubject);
                    //alert(selectedSubject.indexOf("575"));

                    if (selectedSubject.indexOf("S") >= 0)
                        $("#discapacidadF").show(1000);
                    else
                        $("#discapacidadF").hide(1000);
                });
            loadData();
    });
        function loadData() {
            $('#viewAll').load('/registro/formulario/LoadIdioma?id=@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value.ToString()');
            }
        </script>
