@using WordVision.ec.Web.Areas.Registro.Pages.Formulario.Wizard
@model InformacionAdicionalStep

<div class="container-fluid">

    <div class="texto-seccionpregunta">
        7. INFORMACIÓN ADICIONAL
    </div>

    <div id="viewAll" class="card-body card-body-card table-responsive">

    </div>

    <br />

    <div class="form-group row">
        <label class="col-md-2 col-form-label texto-pregunta">Creencia Religiosa</label>
        <div class="col-md-2">
            <input type="text" asp-for="CreenciaReligiosa" name="CreenciaReligiosa" class="form-control">
            <span asp-validation-for="CreenciaReligiosa" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Iglesia en especial</label>
        <div class="col-md-3">
            <input type="text" asp-for="Iglesia" name="Iglesia" class="form-control">
            <span asp-validation-for="Iglesia" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group row">
        <label class="col-md-6 col-form-label texto-pregunta">Auto identificación Étnica (Indígena, Mestizo, Afro, etc.)</label>
        <div class="col-md-6">
            <input type="text" asp-for="Etnia" name="Etnia" class="form-control">
            <span asp-validation-for="Etnia" class="text-danger"></span>
        </div>


    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label texto-pregunta">Tiene Discapacidad</label>
        <div class="col-md-2">
            <select asp-for="DiscapacidadSN" name="DiscapacidadSN" class="form-control">
                <option selected></option>
                <option value="S">SI</option>
                <option value="N">NO</option>
            </select>
            <span asp-validation-for="DiscapacidadSN" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Tipo de Discapacidad</label>
        <div class="col-md-2">
            <input type="text" asp-for="TipoDiscapacidad" name="TipoDiscapacidad" class="form-control">
            <span asp-validation-for="TipoDiscapacidad" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Porcentaje</label>
        <div class="col-md-2">
            <input type="number" asp-for="PorcentajeDiscapacidad" name="PorcentajeDiscapacidad" class="form-control">
            <span asp-validation-for="PorcentajeDiscapacidad" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label texto-pregunta">Familiar Discapacidad</label>
        <div class="col-md-2">
            <select asp-for="FamiliaDiscapacidadSN" name="FamiliaDiscapacidadSN" class="form-control">
                <option selected></option>
                <option value="S">SI</option>
                <option value="N">NO</option>
            </select>
            <span asp-validation-for="FamiliaDiscapacidadSN" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Tipo de Discapacidad</label>
        <div class="col-md-2">
            <input type="text" asp-for="FamiliaTipoDiscapacidad" name="FamiliaTipoDiscapacidad" class="form-control">

            <span asp-validation-for="FamiliaTipoDiscapacidad" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Porcentaje</label>
        <div class="col-md-2">
            <input type="number" asp-for="FamiliaPorcentajeDiscapacidad" name="FamiliaPorcentajeDiscapacidad" class="form-control">
            <span asp-validation-for="FamiliaPorcentajeDiscapacidad" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 col-form-label texto-pregunta">Discapacidad</label>
        <div class="col-md-4">
            <input type="text" asp-for="FamiliaDiscapacidad" name="FamiliaDiscapacidad" class="form-control">
            <span asp-validation-for="FamiliaDiscapacidad" class="text-danger"></span>
        </div>
        <label class="col-md-2 col-form-label texto-pregunta">Parentesco</label>
        <div class="col-md-4">
            <input type="text" asp-for="FamiliaDiscapacidadRelacion" name="FamiliaDiscapacidadRelacion" class="form-control">
            <span asp-validation-for="FamiliaDiscapacidadRelacion" class="text-danger"></span>
        </div>

    </div>


    <br />
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12"><span class="texto-simple">Firma del Colaborador</span></label>
        </div>
    </div>
    <div class="form-group">
        <div class="custom-file form-image">
            <input accept=".png,.jpg,.jpeg,.gif,.tif"
                   asp-for="@Model.Image"
                   type="file" class="custom-file-input"
                   onchange="document.getElementById('viewableImage').src = window.URL.createObjectURL(this.files[0])"
                   id="customFile">

            <label class="custom-file-label" for="customFile">Buscar imágen para Firmar el documento</label>
        </div>
        @if (Model.Image != null && Model.Image.Length > 0)
        {
                    <input type="hidden" id="Idioma" name="Idioma" value="S" />
                    <img id="viewableImage" class="viewableImage" asp-for="@Model.Image" style="object-fit: cover;padding-top: 10px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.Image))" alt> @*<button onclick="document.getElementById('achimage').src = null;" type="button" style="margin-top:10px" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Remove Image</button>*@ }
                else
                {
    <img id="viewableImage" class="viewableImage" style="object-fit: cover;padding-top:10px;" src="" alt>}
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12"><span class="texto-simple">@Model.Colaborador</span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-12"><span class="texto-simple">@Model.Identificacion</span></label>
        </div>
    </div>
    <br />

</div>
<script>
  $(document).ready(function () {
            loadData();
    });
        function loadData() {
            $('#viewAll').load('/registro/formulario/LoadIdioma?id=@User.Claims.FirstOrDefault(x => x.Type == "Id")?.Value.ToString()');
            }
</script>